<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">
            <i class="fas fa-utensils me-2"></i>Cooking Blog
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes">All Recipes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/recipes?category=Appetizer">Appetizers</a></li>
                        <li><a class="dropdown-item" href="/recipes?category=Main Course">Main Course</a></li>
                        <li><a class="dropdown-item" href="/recipes?category=Dessert">Desserts</a></li>
                        <li><a class="dropdown-item" href="/recipes?category=Breakfast">Breakfast</a></li>
                        <li><a class="dropdown-item" href="/recipes?category=Snack">Snacks</a></li>
                    </ul>
                </li>
            </ul>
            
            <ul class="navbar-nav ms-auto" id="navbar-auth">
                <!-- Auth items will be populated by JavaScript -->
                <li class="nav-item" id="nav-login">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" id="nav-register">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>